<a href="https://colab.research.google.com/github/barbarahv/C-pia_de_Introdu-o_a_Collections/blob/main/C%C3%B3pia_de_Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [17]:
idades = [39, 30, 27, 18]

In [18]:
type(idades)

list

In [19]:
len(idades)

4

In [20]:
idades[0]

39

In [21]:
idades

[39, 30, 27, 18]

In [22]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [23]:
idades.append(15)

In [24]:
idades

[39, 30, 27, 18, 15]

In [25]:
idades[4]

15

In [27]:
idades[5]

IndexError: ignored

In [30]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [31]:
idades.remove(30)

In [32]:
idades

[39, 27, 18, 15]

In [34]:
idades.remove(30)

ValueError: ignored

In [35]:
idades.append(15)

In [36]:
idades

[39, 27, 18, 15, 15]

In [37]:
idades.remove(15)

In [38]:
idades

[39, 27, 18, 15]

In [39]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [40]:
28 in idades

False

In [41]:
15 in idades

True

In [42]:
if 15 in idades:
  idades.remove(15)

In [43]:
idades

[39, 18, 27]

In [44]:
if 28 in idades:
  idades.remove(28)

In [45]:
idades

[39, 18, 27]

In [46]:
idades.append(19)
idades

[39, 18, 27, 19]

In [47]:
idades.insert(0, 20)
idades

[20, 39, 18, 27, 19]

In [48]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [49]:
idades.append([27, 19])

In [50]:
idades

[20, 39, 18, [27, 19]]

In [51]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [52]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [53]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [54]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [55]:
idades_no_ano_que_vem = [idade+1 for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [56]:
[idade for idade in idades if idade > 21]

[39, 27]

In [57]:
idades

[20, 39, 18, 27, 19]

In [58]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [59]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [60]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [61]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [62]:
faz_processamento_de_visualizacao()

0
[]

In [63]:
faz_processamento_de_visualizacao()

1
[13]

In [64]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [65]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [66]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [67]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [68]:
0
[]
1
[13]
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [69]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]
0
[]

# Objetos próprios

In [70]:
class ContaCorrente:
  
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [71]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [72]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [73]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 Saldo 1000<<]

In [74]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 47685 Saldo 1000<<]

In [75]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [76]:
print(contas[0])

[>>Codigo 15 Saldo 500<<]

In [77]:
conta_do_gui.deposita(100)

In [78]:
print(contas[0])

[>>Codigo 15 Saldo 600<<]

In [79]:
print(conta_do_gui)

[>>Codigo 15 Saldo 600<<]

In [80]:
print(contas[2])

[>>Codigo 15 Saldo 600<<]

In [81]:
contas[2].deposita(300)

In [82]:
print(conta_do_gui)

[>>Codigo 15 Saldo 900<<]

In [83]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 Saldo 900<<] [>>Codigo 47685 Saldo 1000<<]
[>>Codigo 15 Saldo 1000<<] [>>Codigo 47685 Saldo 1100<<]

In [84]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 1000<<] [>>Codigo 47685 Saldo 1100<<]

In [85]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [86]:
guilherme = ('Guilherme', 37, 1981) # tupla
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # ruim

In [87]:
guilherme.append(6754)

AttributeError: ignored

In [88]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variação OO
conta_do_gui[1]

1000

In [90]:
conta_do_gui[1] += 100

TypeError: ignored

In [91]:
def deposita(conta): # variação "funcional"(separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [92]:
deposita(conta_do_gui)

(15, 1100)

In [93]:
conta_do_gui

(15, 1000)

In [94]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [95]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [96]:
usuarios.append(('Paulo', 39, 1979))

In [97]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [98]:
usuarios[0][0] = 'Guilherme Silveira'

TypeError: ignored

In [99]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [100]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 234876 Saldo 1000<<]

In [101]:
contas.append(423768)

AttributeError: ignored

In [102]:
contas[0].deposita(300)

In [103]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 800<<]
[>>Codigo 234876 Saldo 1000<<]

#Herança e polimorfismo

In [104]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [105]:
print(Conta(88))

TypeError: ignored

In [106]:
class ContaCorrente(Conta):
  
  def passa_o_mes(self):
    self._saldo -= 2
    
class ContaPoupanca(Conta):
  
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [107]:
ContaInvestimento(764)

TypeError: ignored

In [108]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [109]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [110]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# Evitaremos usar array puro. se precisamos de trabalho numérico, é costume usar o numpy

In [111]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [113]:
arr.array('d', [1, 3.5, 'Guilherme'])

TypeError: ignored

In [114]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [115]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [116]:
numeros + 3

array([4. , 6.5])

In [117]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [118]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [119]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [120]:
conta1 == conta2

False

In [121]:
contas = [conta1]
conta1 in contas

True

In [122]:
conta2 in contas

False

In [123]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    return self._codigo == outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [124]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [125]:
conta1 != conta2

False

In [126]:
conta1 in [conta2]

True

In [127]:
conta2 in [conta1]

True

In [128]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [129]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [130]:
conta1.deposita(10)

In [131]:
conta1 == conta2

False

In [132]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [133]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [134]:
conta1 == conta2

False

In [135]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [136]:
isinstance(ContaCorrente(34), Conta)

True

In [137]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [138]:
range(len(idades)) # lazy...

range(0, 8)

In [139]:
enumerate(idades) # lazy

In [140]:
list(range(len(idades))) # forcei a geração dos valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [141]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [142]:
for indice, idade in enumerate(idades): # unpacking da nossa tupla
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [143]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

for nome, idade, nascimento in usuarios: # ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [144]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

In [145]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [146]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [147]:
15 < 32

True

In [148]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [149]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [150]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [151]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [152]:
idades.sort()

In [ ]:
idades

In [154]:
15 < 32

True

In [155]:
nomes = ["guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [156]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [157]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [158]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [159]:
sorted(contas)

TypeError: ignored

In [160]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [161]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [162]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [163]:
conta_do_guilherme < conta_da_daniela

TypeError: ignored

In [164]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    return self._saldo < outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [165]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [166]:
conta_do_guilherme < conta_da_daniela

True

In [167]:
conta_do_guilherme > conta_da_daniela

False

In [168]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [169]:
for conta in sorted(contas,reverse=True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [170]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [171]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [172]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [173]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [174]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [175]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [176]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [177]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [178]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [179]:
conta_do_guilherme < conta_da_daniela

True

In [180]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [181]:
from functools import total_ordering

@total_ordering
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [182]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [183]:
conta_do_guilherme <= conta_da_daniela

True

In [184]:
conta_do_guilherme <= conta_do_paulo

False

In [185]:
conta_do_guilherme < conta_do_guilherme

False

In [186]:
conta_do_guilherme == conta_do_guilherme

True

In [187]:
conta_do_guilherme <= conta_do_guilherme

True